
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardProducto {
    margin: 10px;
    height: 350px;
    width: 300px;
}

.descripcion {
    text-align: center;
    display: flex;
    justify-content: center;
}

.card-body{
    text-decoration:none;
}

.cardProduct_conten{
    display: flex;
    flex-wrap: wrap;
}

.cardProducto.card{
    height: 320px;
    width: 250px;
    cursor: default;
    transition: all 400ms ease;
    border: 1px #a09f9f solid;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #464545;
}

.cardProducto.card:hover{
    box-shadow: 5px 5px 20px black;
    transform: translateY(-3%);
}

.contenedorImagenCards{
    height: 200px ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top{
    margin-top: 5px;
    height: 200px;
    width: 200px;
    object-fit: contain;
}

/* .imgCard{
    height: 170px;
    width: 100%;
    object-fit: cover;
} */

/* .contenedorImagenCards img{
    height: 170px;
    width: 100%;
    object-fit: cover;
} */

.cardProduct_conten{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 ;
    padding: 0;
    margin-top: 130px;
}

.precio{
    font-size: x-large;
    font-weight: bolder;
}

.titulo{
    font-size: small;
}

.precio.card-text{
    font-size: x-large;
    font-weight: bolder; 
}


.link{
    text-decoration: none;
    color: black;
}
