.greet {
    color: white;
}

.formNatvar{
    min-width: 700px;
}

.collapse.navbar-collapse{
    align-items: center;
    display: flex;
    justify-content:space-around;
}

.color{
    background-color: black;
}

.todoancho{
    align-items: center;
    display: flex;
    justify-content:space-around;
}

/* header {
    z-index: 3;
    height: 150px;
    position: sticky;
    top: 0; } */